@import "tailwindcss";

/* Smooth scrolling setup */
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}

body {
  background-color: #0a0a0a;
  color: #ffffff;
  overflow-x: hidden;
}